<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>About me</h1>
    <h2>... and this new project -- a personal website written in Astro</h2>

    <p>This is basically me doing Astro's tutorial. This is the first page entirely built by me.</p>

    <p>The site will be way cooler when I finish the tutorial, and hopefully, by then, I will be able to do even neatier stuff!</p>
</body>