---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css'

const pageTitle = "blog";
---

<head>
    <title>{pageTitle}</title>
</head>

<body>
    <Navigation />
    <h1>{pageTitle}</h1>
    <p>I will post cool texts here.</p>
    <ul>
        <li><a href="/posts/zelda_oos/">Zelda OOS</a></li>
        <li><a href="/posts/post-2/">Post 2</a></li>
    </ul>
</body>