<head>
    <h1>This is the blog page</h1>
</head>

<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <p>I will post cool texts here.</p>
    <ul>
        <li><a href="/posts/zelda_oos/">Zelda OOS</a></li>
        <li><a href="/posts/post-2/">Post 2</a></li>
    </ul>
</body>