---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "The blog";
const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
---

<head>
    <title>{pageTitle}</title>
</head>

<body>
    <h1>{pageTitle}</h1>
    <p>I will post cool texts here.</p>
    <ul>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate.slice(0,10)} /> )}
    </ul>
    <script>
        import "../scripts/menu.js";
    </script>
</body>